@charset "UTF-8";
@font-face {
  font-family: 'nunito-bold';
  src: url("fonts/nunito/Nunito-Bold.eot");
  src: local("☺"), url("fonts/nunito/Nunito-Bold.woff") format("woff"), url("fonts/nunito/Nunito-Bold.ttf") format("truetype"), url("fonts/nunito/Nunito-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'nunito-regular';
  src: url("fonts/nunito/Nunito-Regular.eot");
  src: local("☺"), url("fonts/nunito/Nunito-Regular.woff") format("woff"), url("fonts/nunito/Nunito-Regular.ttf") format("truetype"), url("fonts/nunito/Nunito-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
.d-flex {
  display: flex; }

.fd-column {
  flex-direction: column; }

.jc-around {
  justify-content: space-around; }

.jc-center {
  justify-content: center; }

.jc-end {
  justify-content: flex-end; }

.wrap {
  flex-wrap: wrap; }

.grow {
  flex-grow: 0; }

.ai {
  align-items: center; }

body {
  font-family: "nunito-regular";
  background-color: #202020; }

.columns {
  width: 100%;
  margin: auto; }

#progress {
  background-color: #22831b;
  height: 0.3125rem;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; }

.navbar {
  padding: 2.5rem 8.125rem;
  transition: .2s linear;
  background: transparent !important; }

.navbar-item {
  font-family: "nunito-bold"; }
  .navbar-item:hover, .navbar-item:focus {
    background-color: transparent !important; }

.navbar.nav-bg {
  background-color: #1d1d1d !important;
  padding: 0.9375rem 6.25rem; }

.job {
  font-size: 7.5rem; }

.typewriter {
  font-family: "nunito-bold"; }

.typewriter1 {
  width: 20rem;
  line-height: 5.625rem;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 1s steps(14) 1s 1 normal both; }

.typewriter2 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 1.5s steps(25) 1s 1 normal both;
  animation-delay: 2s; }

.name {
  white-space: nowrap;
  width: 8.75rem;
  overflow: hidden;
  animation: typewriter 1.2s steps(25) 1s 1 normal both;
  animation-delay: 4s; }

@keyframes typewriter {
  0% {
    width: 0;
    border-right: none; }
  0.1% {
    border-right: 0.0625rem solid gainsboro; }
  99.9% {
    border-right: 0.0625rem solid gainsboro; }
  100% {
    border: none; } }
.hero-area {
  height: 100vh;
  padding: 18.75rem 0 12.5rem; }

.about {
  background-color: #00000000;
  box-shadow: none; }

.mt-50 {
  margin-top: 3.125rem; }

.pt-50 {
  padding-top: 3.125rem; }

.pt-0 {
  padding-top: 0rem; }

.p-0 {
  padding: 0; }

.h-100 {
  height: 100%; }

/* ---- particles.js container ---- */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #202020; }

.title-menu {
  font-size: 4em;
  font-weight: 300;
  text-align: center;
  overflow: hidden;
  margin-bottom: 4.375rem; }
  .title-menu::before, .title-menu::after {
    content: "";
    background: white;
    display: inline-block;
    height: 0.0625rem;
    position: relative;
    width: 22.5rem;
    vertical-align: middle; }
  .title-menu::before {
    right: 0.5em;
    margin-left: -42%; }
  .title-menu::after {
    left: 0.5em;
    margin-right: -42%; }

.skills {
  width: 18.3125rem;
  height: 18.3125rem;
  margin: auto; }

.skills-wrap {
  width: 100%;
  height: 100%;
  border: 0.25rem solid #175213;
  text-align: center;
  display: block;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.205); }
  .skills-wrap:hover {
    background-color: rgba(255, 255, 255, 0.459); }
  .skills-wrap h3 {
    margin-top: 3.125rem;
    color: white; }
  .skills-wrap .image {
    margin: auto; }

::placeholder {
  color: black !important;
  font-size: 1.25rem; }

.success {
  color: green; }

form {
  margin: auto; }
  form p, form .fail {
    color: red; }
  form .textarea {
    height: 11.875rem; }
  form input, form .textarea {
    font-family: "nunito-regular"; }
  form #er_captcha p {
    text-align: center; }
  form button[type="submit"] {
    font-family: "nunito-regular";
    background-color: #175213;
    border-color: #175213;
    color: #1d1d1d; }
    form button[type="submit"]:hover {
      color: white; }

figure {
  margin: auto; }

.social-icon {
  background: white;
  mask-size: cover; }
  .social-icon:hover, .social-icon:focus {
    background: #175213; }

.icon-git {
  margin-right: 0.625rem;
  mask: url(img/github.svg); }

.icon-link {
  mask: url(img/linkedin.svg); }

.icon-git-128 {
  margin-right: 0.9375rem;
  mask: url(img/github128.svg); }

.icon-link-128 {
  margin-left: 0.9375rem;
  mask: url(img/linkedin128.png); }

.style figure {
  max-width: 22.5625rem;
  margin: auto;
  overflow: hidden;
  position: relative;
  border-radius: 1.875rem; }
  .style figure:hover img {
    transform: translateY(-3.125rem); }
  .style figure:hover figcaption {
    opacity: 1;
    transform: translateY(0rem);
    transition: transform 0.4s, opacity 0.1s; }
  .style figure img {
    max-width: 100%;
    position: relative;
    transition: transform 0.4s; }
  .style figure figcaption {
    height: 6.25rem;
    width: 100%;
    position: absolute;
    top: auto;
    bottom: 0;
    padding: 1.25rem;
    background-color: #7a7878;
    color: white;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.4s, opacity 0.1s 0.3s; }
    .style figure figcaption a {
      position: absolute;
      bottom: 1.9375rem;
      right: 1.25rem; }

#loading {
  display: none; }

#map {
  margin: auto;
  height: 36.875rem; }

#send_email {
  display: none;
  margin: auto;
  text-align: center; }

footer {
  padding-bottom: 3rem !important; }

@media only screen and (max-width: 63.9936rem) {
  .job {
    font-size: 2.5rem;
    line-height: 2.9375rem; }

  .typewriter {
    width: 20rem;
    margin-left: 20%; }

  .navbar {
    padding-right: 2%; }

  .style figure:hover img {
    transform: none; }
  .style figure figcaption {
    position: relative;
    opacity: 1;
    transform: translateY(0%); } }
@media only screen and (max-width: 41.8056rem) {
  .title-menu {
    font-size: 2.5rem; }
    .title-menu::before, .title-menu::after {
      display: none; } }
@media only screen and (max-width: 31.2436rem) {
  .typewriter {
    margin-left: 0;
    margin: auto; }

  .navbar.nav-bg {
    padding: 0; } }

/*# sourceMappingURL=default.css.map */
